@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 0.9rem;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  display: block;
  font-weight: 300;
  font-size: 55px;
  color: #35495e;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 25px 0;
}

.subtitle {
  font-weight: 300;
  font-size: 1.1rem;
  color: #526488;
  word-spacing: 2px;
  padding-bottom: 15px;
  max-width: 600px;
}

.subtitle a {
  font-weight: 500;
  color: inherit;
}

.links {
  padding-top: 15px;
  margin-bottom: 20px;
}

.content-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500px;
}

.plus {
  font-size: 2.5rem;
  margin: 15px;
  color: #35495e;
}

.h3 {
  font-family: 'Quicksand',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  font-weight: 400;
  margin: 10px;
}

.resp-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.resp-table tr {
  background-color: #f5f9fc;
  border-color: #bfbfbf;
}

.resp-table > thead > tr {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.resp-table tbody tr:nth-child(odd) {
  background-color: #ebf3f9;
}

.resp-table th {
  display: none;
}

.resp-table td {
  display: block;
}

.resp-table th,
.resp-table td {
  text-align: left;
  padding: 0.5em 1em;
}

.resp-table td:first-child {
  margin-top: 0.5em;
}

.resp-table td:last-child {
  margin-bottom: 0.5em;
}

.resp-table td::before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.component-header {
  @apply flex flex-col items-center justify-center text-white py-4 bg-blue-800;

  h2 {
    @apply text-center uppercase text-2xl;
  }
}

.btn {
  @apply text-white px-4 py-2 rounded-md text-xl font-medium transition duration-300;
}

.btn-green {
  @apply bg-green-600 hover:bg-green-700;
}

.btn-red {
  @apply bg-red-600 hover:bg-red-700;
}

.btn-orange {
  @apply bg-orange-400 hover:bg-orange-700;
}

.btn-slate {
  @apply bg-slate-600 hover:bg-slate-700;
}

.navbar {
  @apply flex flex-col w-64 h-screen px-2 py-4 bg-white border-r dark:bg-slate-800 dark:border-slate-600;

  h2 {
    @apply text-2xl font-semibold text-slate-800 dark:text-white;
  }

  .item {
    @apply flex my-2 items-center px-2 py-2 text-slate-700 bg-slate-200 hover:bg-slate-600 rounded-md dark:bg-slate-700 dark:text-slate-200;
  }
}

textarea {
  @apply block p-2.5 w-full text-sm text-slate-900 bg-slate-50 rounded-lg border border-slate-300 focus:ring-blue-500
  focus:border-blue-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-blue-500
  dark:focus:border-blue-500;
}

@media screen and (max-width: 601px) {
  .resp-table tr:nth-child(2) {
    border-top: none;
  }
}

@media screen and (min-width: 600px) {
  .resp-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }

  .resp-table td::before {
    display: none;
  }

  .resp-table th,
  .resp-table td {
    display: table-cell;
    padding: 0.5em !important;
  }

  .resp-table th:first-child,
  .resp-table td:first-child {
    padding-left: 0;
  }

  .resp-table th:last-child,
  .resp-table td:last-child {
    padding-right: 0;
  }
}

.js-markdown {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-base;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  @apply px-1;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  @apply bg-emerald-500;
  cursor: pointer;
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  @apply bg-emerald-500;
  cursor: pointer;
  border-radius: 5px;
}

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.light-mode {
  --color: #070d0b;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color .3s;
}

a {
  color: var(--color-primary)
}

select {
  @apply bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

input {
  @apply py-3 px-5 rounded focus:outline-none text-slate-600 focus:text-slate-600;
}